<!DOCTYPE html>
    <html>

    <head>
        <!-- Import helpful bootstrap resources -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- My own style additions/page attributes -->
        <title>Engineering Honors Program</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../resources/mystyle.css">
    </head>

    <body>

    <!-- Navigation Bar -->
    <div class="topnav">
        <a class="active" href="../index.html">Home</a>
        <a href="../resources/resume.pdf">Resume</a>
        <a href="projects.html">Projects</a>
        <a href="#">EHP</a>
        <a href="album.html">Album</a>
    </div>
    
    <!-- Philosophy of Education -->
    <div style="margin:5vw;">
        <h1 style="text-align: center; font-family:cursive;">Philosophy of Education</h1>
        <br>

        <div class="left_column">
            <h3 style="font-family:'optima';">Freshman Perspective</h3>
            <p style="font-family:'optima';">I was raised with the belief that education is the key to a better life, and I believe it wholeheartedly. To me, the true value of education is that it is a means to grow as an individual. I grew up very sheltered. Education was the only way I had for a long time to learn more about the world, and about who I can become if I so choose.
                <br><br>
                I am approaching college with the same mindset, except this time, I can truly treat it as a means to grow. Previously, although I wanted to focus on the learning aspect, I was pressured to achieve as well. Sometimes it felt like all I was doing at school was getting approval from the education system for those in my life who cared about my performance on paper, and then truly understanding the material would come second. Now, it’s all up to me to decide how I want to approach education, and I’ve decided that learning comes first.
                <br><br>
                I want to approach college with an open mind. There is more to the world than academia. This is the first time I will have the chance to explore the world on my own: there is so much to experience and learn about. I want to spend the next four years delving into that new realm of insight. Whether or not it is related to my field of primary interest (computer science), there is value to everything I’m learning here. Maybe learning about the moment of inertia of an object won’t help me in computer science, but I think it’s still good to be aware of the concept. Maybe going to a frat party for the first time won’t help me academically, but being able to learn more about the vastness of human experience and how people connect with one another is still intriguing. 
                <br><br>
                Although my classes will be invaluable for laying the foundation of my understanding of computer science, I plan to learn more in college than purely academic information. I’m already accustomed to the academic setting; I’ve spent nearly all my life throwing myself entirely into academic work. I think it’s about time I start learning more about the human experience, whether that be through history, literature, or simply talking to new people. Hence, in addition to fervently pursuing my classes, I want to learn by doing, and to me, this means learning through extracurriculars, industry experience, and just plain living.
                <br><br>
                I know being in college won’t prepare me completely for life—nothing can. But it is a way in which I can equip myself to the best of my ability. I hope that by learning as much as I can during this time of my life, I can become a more caring and open minded person who will be able to positively impact society through my work. Developing helpful technology is one way in which I can make a difference, so my academic growth would ideally enable me to do so. But I think the most important area of growth would be as a person: I want to figure out who I want to be for the rest of my life.</p>
        </div>

        <div class="right_column">
            <h3 style="font-family:'optima';">Graduate Perspective</h3>
            <p style="color: red;">404 Error Perspective Not Found :P</p>
        </div>

    </div>

    </body>
</html>
