
<!DOCTYPE html>
    <html>
      <head>
        <title>Add Article</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </head>
      <body>
        <h1>Add New Article</h1>
        <form>
          <!-- Post title and author -->
          <div class="form-group">
            <h4>Article Title</h4>
            <input type="text" class="form-control" id="article-title" placeholder="Title">
          </div>
          <div class="form-group">
            <h4>Author Name</h4>
            <input type="text" class="form-control" id="author" placeholder="Name">
          </div>

          <!-- Form row object -->
          <div class="form-row">
            <!-- File Upload Widget -->
            <div class="form-group">
              <h4>Upload Files:</h4>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <!-- Dropdown menu of page to put it on -->
            <div class="dropdown">
              <h4>Pages</h4>
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select a Page
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Academics</a>
                <a class="dropdown-item" href="#">Home Page</a>
                <a class="dropdown-item" href="#">Blog Feed</a>
              </div>
            </div>
          </div>

          <!-- Article Text -->
          <div class="form-group">
            <h4>Article Text</h4>
            <textarea rows="20" cols="100"></textarea>
          </div>

          <!-- Form row object part two -->
          <div class="form-row">
            <!-- In Line Check Boxes -->
            <div class="form-group" id="checkboxes">
              <h4>Select Tags</h4>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Python
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">C++
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Java
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Scala
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Perl
              </label>
            </div>

            <!-- Extra Space -->
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- Visibility Radio Button -->
            <div class="form-group" id="visible">
              <h4>Visibility</h4>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="public" autocomplete="off" checked> Public
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="private" autocomplete="off"> Private
                </label>
              </div>
            </div>
          </div>

          <!-- Login Options -->
          <h4>Login to Finish Submitting</h4>
          <div class="form-row">
            <!-- Username -->
            <div class="form-group" id="un">
              <input type="text" class="form-control" id="username" placeholder="Username">
              <input type="checkbox" value="True">Remember me<br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <!-- Password -->
            <div class="form-group" id="pw">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
        </form>
      </body>
    </html>
