
<!DOCTYPE html>
    <html>
      <head>
        <title>About Me</title>
        <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
      </head>
      <body>
        <!-- Brief Bio -->
        <h1>Tran, Michelle</h1>
        <p>I'm a sophomore at CU Boulder who is currently pursuing computer science
          because I love problem solving, and that's pretty much all computer science is. <br>
          Fun Facts About Me: <br>
          1. I used to own 20 parakeets. <br>
          2. I enjoy cross-stitching. <br>
          3. I have a strange fascination with Australia. <br>
        </p>
        <!-- Professional Profile -->
        <h2>My Professional Profile</h2>
        <a href="https://github.com/Moppit">Github Profile</a><br>
        <img src="https://tinyurl.com/y2gcd6b9" alt="Michelle Tran" height="700px" width="500px">
        <!-- Favorite Projects -->
        <h3>My Favorite Projects</h3>
        <table id="projects_table">
          <tr>
            <th>Project Name</th>
            <th>Technology Used</th>
          </tr>
          <tr>
            <td>Legend of Zelda BotW Adaptation</td>
            <td>C++</td>
          </tr>
          <tr>
            <td>Firewall Fighter</td>
            <td>Leap Motion, Unity, C#</td>
          </tr>
          <tr>
            <td>Social Q's</td>
            <td>Python, Muse, Muse SDK, Rev.ai</td>
          </tr>
        </table>

        <!-- Countries Travelled -->
        <h3>Places Travelled</h3>
        <ul>
          <li>Colorado - CU Boulder</li>
          <li>Massachusetts - HackMIT</li>
          <li>Minnesota</li>
          <li>North Dakota</li>
          <li>Arizona - Buff VEX Robotics</li>
          <li>North Carolina - NCWIT</li>
        </ul>

        <!-- My Interests -->
        <h3>My Interests</h3>
        <ul>
          <li>Cloud Computing</li>
          <li>DevOps</li>
          <li>Virtual Reality</li>
        </ul>

      </body>
    </html>
