<!DOCTYPE html>
    <html>

    <head>
        <!-- Import helpful bootstrap resources -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- My own style additions/page attributes -->
        <title>Projects</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../resources/mystyle.css">
    </head>

    <body>

    <!-- Navigation Bar -->
    <div class="topnav">
        <a href="../index.html">Home</a>
        <a href="../resources/resume.pdf">Resume</a>
        <a class="active" href="#">Projects</a>
        <a href="ehp.html">EHP</a>
        <a href="album.html">Album</a>
    </div>
    
    <div style="margin:5vw; text-align: center;">
        <h2>Projects</h2>
        <br>
        <p>
            More to come! In the meantime, check out my Github and Devpost profiles to learn more about the projects I’ve worked on: <br><br>
    
            Github: <a href="https://github.com/Moppit">https://github.com/Moppit</a>
            <br>
            <br>
            Devpost: <a href="https://devpost.com/Moppit">https://devpost.com/Moppit</a>
        </p>
    </div>

    </body>
</html>
