<!DOCTYPE html>
    <html>
    <head>
      <title>Soft Dev Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </head>
      <body>
        <h1>Software Dev Tools and Methods: Personal Website Assignment</h1>
        <h2>Page Links</h2>
        <button type="button" class="btn btn-outline-secondary" name="mypage">
          <a href="mypage.html">mypage.html</a><br>
        </button>
        <button type="button" class="btn btn-outline-secondary" name="mypage_bootstrap">
          <a href="mypage_bootstrap.html">mypage_bootstrap.html</a><br>
        </button>
        <button type="button" class="btn btn-outline-secondary" name="form">
          <a href="form.html">form.html</a><br>
        </button>
        <button type="button" class="btn btn-outline-secondary" name="form">
          <a href="tic-tac-toe.html">Tic Tac Toe Fun Time</a><br>
        </button>
      </body>
    </html>
