/* Entire Site Theme */

body {
  font-family: 'Verdana';
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(81, 158, 230);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(81, 158, 230);
  color: white;
}

/* ............................................................... */

/* Front page items */

/* Columns */
.home_left_column {
  float: left;
  width: 50%;
}

.home_right_column {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Image decorations */
.circle {
  height: 12vw;
  width: 12vw;
  background-color: rgb(156, 250, 209);
  border-radius: 50%;
  right: 0vw;
  bottom: -25vw;
}

.square {
  height: 12vw;
  width: 12vw;
  background-color: rgb(254,255,186);
  left: 15vw;
  top: 5vw;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 6vw solid transparent;
	border-right: 6vw solid transparent;
  border-bottom: 12vw solid #FFE6EE;
  left: 18vw;
  bottom: -42vw;
}

/* Decoration placements */
#profile_container {
  position: relative;
}

#profile_container > * {
  position: absolute;
}

.photo_position {
  left: 20vw;
  right: 20vw;
  top: 10vw;
  bottom: 10vw;
  width: 25vw; 
  height: auto;
}

.info_position {
  left: 10vw;
  right: 10vw;
  top: 10vw;
  bottom: 10vw;
}

/* ............................................................... */

/* EHP Page */

.left_column {
  float: left;
  width: 45%;
}

.right_column {
  float: right;
  width: 45%;
}

/* ............................................................... */

/* Photo Album */
div.gallery {
  margin: 10px;
  float: left;
  width: 20vw;
}

div.gallery:hover {
  transition: all 0.3s ease; 
  opacity: .5; 
  background-color: #000000; 
}

div.gallery img {
  width:  20vw;
  height: 20vw;
  object-fit: cover;
}

/* ............................................................... */

/* Projects/Interests Page */

.gui-button {
  border: none;
  color: white;
  background-color: rgb(81, 158, 230);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 40%;
  margin-right: 40%;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* todo: omit undeline */
.button a:hover {
  background-color: rgb(81, 158, 230);
  color: gray;
}

/* ............................................................... */